<div class="message">
  <div #id="justify" class="<%= justify_msg(@current_user_code, @other_user_code, message) %>">
    <div class="message-user">
    </div>
    <div class="message-content">
      <%= sanitize markdown_to_html(message.content) %>
    </div>
  </div>
</div>