<% provide(:extra_body_attributes, "data-room-name=#{@conversation.id} data-id-name=#{@user_code}" ) %>
<h6 id="chat">Chat with <%= other_user_name(@user_code) %></h6>
<div class="message-wr">
  <%= render 'messages' %>
  <%= render 'message_form' %>
  <%= link_to 'Back', came_from_url(controller_name), class: 'btn btn-success'%>
</div>