<div class="profiles">
<h5>Editing Profile</h5>

<%= render 'form', profile: @profile %>

<%= link_to 'Show', @profile, class: 'btn btn-success' %>
<%= link_to 'Back', profiles_path, class: 'btn btn-success' %>
</div>