
  <div class="s-table">
    <figure class="pics">
      <% if @profile.image.present? %>
        <%= image_tag @profile.image_url(:original), size: '300x210', alt: "profile photo" %>
      <% else %>
        <p>Np photo</p>
      <% end %>
    </figure>

    <div class="across" >
      <div class="s-label f4">Name</div>
      <div class="data f5"><%= @profile.full_name %></div>
    </div>

    <%= render 'layouts/address', object: @profile %>

  </div>

  <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-warning' %>
