<h5>Conversation</h5>
<div id="messages">
  <%= render @messages %>
</div>
<form>
  <label>Say something:</label>
  <br>
  <input type="text" data-behavior="conversation_speaker">
</form>
<%= link_to 'Back', conversations_path, class: 'btn btn-success' %>
