<div class="bookings">
  <h5>Editing Booking</h5>

  <%= render 'form', booking: @booking %>

  <%= link_to 'Show', @booking, class: 'btn btn-success' %>
  <%= link_to 'Back', bookings_path, class: 'btn btn-success' %>
</div>