
<h4><%= @charge_station.address %></h4>
<p>
  <strong>Adapter:</strong>
  <%= @adapter_plug.adapter.to_plug %>
</p>

<%= link_to 'Edit', edit_charge_station_adapter_plug_path(@charge_station, @adapter_plug), class: 'btn btn-warning' %>
<%= link_to 'Back', charge_station_adapter_plugs_path(@charge_station), class: 'btn btn-success' %>
