<div class="vehicles">
  <h1>Editing Vehicle</h1>

  <%= render 'form', vehicle: @vehicle %>

  <%= link_to 'Show', @vehicle, class: 'btn btn-success' %>
  <%= link_to 'Back', vehicles_path, class: 'btn btn-success' %>
</div>