<div class="vehicles">
  <h5>Editing Vehicle</h5>

  <%= render 'form', vehicle: @vehicle %>

  <%= link_to 'Show', @vehicle, class: 'btn btn-success' %>
  <%= link_to 'Back', vehicles_path, class: 'btn btn-success' %>
</div>