@import "bootstrap";

$light-blue: #5EDDF2;
$darker-blue: #28C2DB;
$green: #A3F6A4;
$yellow: #C8F761;
$dark: black;
$width: 60em;

@import "messages";

* {
  padding: 0;
  margin: 0;
}

thead {
  background: lightblue;
}

.main {
  position: relative;
  top: 85px;
  width: 98%;
  margin: 0 auto;
  text-align: center;
}

#search {
  min-width: 15em;
}

#map {
  height: 68vh;
  width: 98vw;
  margin: 0 auto;
  border: 1px solid white;
}

.flex-main {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.across {
  display: flex;
  flex-flow: row;
  flex: 1;
}

.down {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.item {
  flex: 1;
}

.s-table {
  display: flex;
  flex: 1;
  flex-flow: column;
  margin: 0 auto;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  max-width: 24em;
}

.s-label {
  flex: 1;
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding: 3px;
  background: lightblue;
  min-width: 5em;
  text-align: left;
}

.buttons {
  display: flex;
  flex-flow: row;
  flex: 2;
  align-items: center;
  min-height: 2.5em;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

label {
  background: lightblue;
  padding: 5px;
  width: 8em;
}

input[type="text"] {
  max-width: 12em;
}

// my flex-box table
.flex-table {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.row {
  display: flex;
  flex-flow: column;
  flex: 1;
  border-bottom: 2px solid white;
}
.row:last-child {
  border-bottom: 0;
}
.pair {
  display: flex;
  flex-flow: row;
  flex: 1;
}
.label {
  flex: 1;
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding: 3px;
  background: lightblue;
  text-align: left;
}

.data {
  flex: 1;
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding: 3px;
  min-width: 8em;
  text-align: left;
}
// end flex-box table

figure {
  text-align: center;
  margin: 0;
}

.f2 {
  flex: 2;
}

.f3 {
  flex: 3;
}

.f4 {
  flex: 4;
}

.f5 {
  flex: 5;
}

.f6 {
  flex: 6;
}

.f7 {
  flex: 7;
}

.f8 {
  flex: 8;
}

.f9 {
  flex: 9;
}

body {
  background: lightgray;
}

// nav icon

#nav-check {
  display: none;
}

#nav-icon {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 86%;
  margin-top: 4px;
  margin-right: 10px;
  transform: rotate(0deg);
  transition: 1s ease-in-out;
  cursor: pointer;
  z-index: 20;
  background: $darker-blue;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: $dark;
  border-radius: 7px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

/* Icon part */

#nav-icon span:nth-child(1) {
  top: 0;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 12px;
}

#nav-icon span:nth-child(4) {
  top: 24px;
}

#nav-check:checked + label span:nth-child(1) {
  top: 12px;
  width: 0;
  left: 50%;
}

#nav-check:checked + label span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-check:checked + label span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-check:checked + label span:nth-child(4) {
  top: 12px;
  width: 0;
  left: 50%;
}

// nav icon end

.menu {
  font-family: 'Advent Pro', sans-serif;
  display: block;
  position: absolute;
  width: 100%;
  height: 400px;
  top: 40px;
  background: $green;
  z-index: 10;

  a {
    display: block;
    width: 80%;
    height: auto;
    text-align: left;
    text-decoration: none;
    font-size: 29px;
    color: black;
    padding-top: 5px;
    margin-left: 10%;
    padding-bottom: 5px;
    border-bottom: 1px solid $darker-blue;
  }
  // trick to center absolute positioned text - need a second div positioned relative
  .head {
    position: absolute;
    top: 360px;
    left: 0;
    right: 0;
    .text {
      position: relative;
      margin: 0 auto;
      text-align: center;
      font-size: 18px;
      color: black;
    }
  }
  .name {
    position: absolute;
    top: 380px;
    right: 0;
    text-align: right;
    padding-right: 10px;
  }
  .target {
    display: none;
  }
}

#nav-check ~ .menu {
  transform: translateY(-360px);
  transition: .4s ease-in-out;
}

#nav-check:checked ~ .menu {
  transform: translateY(0px);
}

.header-bar {
  position: absolute;
  top: 0;
  margin-top: 0;
  width: 100%;
  height: 40px;
  background: $darker-blue;
  z-index: 15;

  .item {
    a {
      color: black;
      padding: 10px;
    }
  }
  .item.head {
    flex: 2;
    text-align: center;
  }
  .name {
    display: none;
  }
}

.sign-in-page {
  width: 300px;
  height: 380px;
  margin: 0 auto;
  margin-top: 3em;
  padding: 20px;
  background: $light-blue
}

.window {
  width: 185px;
  margin: 0 auto;
}

.btn {
  margin: 5px;
  min-width: 5em;
}

.homes {
  h5 {
    text-align: center;
    margin-top: 1em;
  }
  .s-table {
    margin: 0 auto;
    min-width: 21em;
  }
}

.simple-calendar {
  margin: 0 auto;
  margin-top: .5em;
  max-width: 18em;
  th {
    padding: 3px;
    text-align: center;
    min-width: 2.5em;
  }
  td {
    padding: 4px;
    text-align: center;
    &.prev-month, &.next-month {
      background: #ffffd4;
      &.has-events {
        .am {
          display: block;
          background: linear-gradient(90deg, $darker-blue, $darker-blue,  #ffffd4, #ffffd4);
          width: 100%;
          height: 100%;
        }
        .pm {
          display: block;
          background: linear-gradient(90deg, #ffffd4, #ffffd4, $darker-blue, $darker-blue);
          width: 100%;
          height: 100%;
        }
      }
    }
    &.has-events {
      .am {
        display: block;
        background: linear-gradient(90deg, $darker-blue, $darker-blue, lightgray, lightgray);
        width: 100%;
        height: 100%;
      }
      .pm {
        display: block;
        background: linear-gradient(90deg, lightgray, lightgray, $darker-blue, $darker-blue);
        width: 100%;
        height: 100%;
      }
      .ampm {
        display: block;
        background: $darker-blue;
        width: 100%;
        height: 100%;
      }
    }
    &.today {
      background: $yellow;
      &.has-events {
        .am {
          display: block;
          background: linear-gradient(90deg, $darker-blue, $darker-blue, $yellow, $yellow);
          width: 100%;
          height: 100%;
        }
        .pm {
          display: block;
          background: linear-gradient(90deg, $yellow, $yellow, $darker-blue, $darker-blue);
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .calendar-heading {
    text-align: center;
  }

  .btn {
    margin: 5px;
    min-width: 4em;
  }
}

.profiles {
  margin: 0 auto;
}

.vehicles {
  margin: 0 auto;
  .flex-table {
    max-width: 50em;
  }
  input[type="text"] {
    max-width: 10em;
  }
}

.charge_stations {
  margin: 0 auto;
}

.adapters, .adapter_plugs {
  margin: 0 auto;
  .flex-table {
    max-width: 26em;
  }
}

.bookings {
  margin: 0 auto;
  input[type="number"] {
    max-width: 13em;
  }
  .my-station {
    .data {
      background: $yellow;
    }
  }
}

.conversations {
  margin: 0 auto;
  .flex-table {
    max-width: 50em;
  }
}

.favourites {
  margin: 0 auto;
  .flex-table {
    max-width: 46em;
  }
}

@media (min-width: 300px) {
  .adapters, .adapter_plugs {
    // my flex-box table
    .row {
      display: flex;
      flex-flow: row wrap;
      flex: 1;
      border-bottom: 0;
    }
    .label, .no-label {
      display: none;
      min-height: 2em;
      max-height: 2em;
    }
    .flex-table .row:first-child .pair {
      .label {
        display: flex;
      }
      .no-label {
        display: flex;
        flex: 1;
        border-top: 1px solid white;
        border-left: 1px solid white;
        padding: 3px;
        background: lightblue;
      }
    }
    .pair {
      display: flex;
      flex-flow: column;
      flex: 1;
    }
    // end flex-box table
  }
}

@media (min-width: 768px) {
  #nav-icon {
    display: none;
  }

  #nav-check:checked ~ .menu,
  #nav-check ~ .menu {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    height: 40px;

    nav {
      position: relative;
      margin: 0 auto;
      max-width: $width;
      text-align: center;
    }
    a {
      display: inline-block;
      height: 20px;
      text-align: center;
      text-decoration: none;
      font-size: 12pt;
      color: black;
      background: $green;
      padding-top: 8px;
      margin: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
    .nav1 {
      width: 4.5em;
    }
    .nav2 {
      width: 6em;
    }
    .nav3 {
      width: 7em;
    }
    .nav4 {
      width: 7.5em;
    }
    .nav5 {
      width: 10em;
    }
    .head {
      display: none;
    }
    .name {
      display: none;
    }
    transform: translateY(0px);
    transition: 0s;
    .target {
      height: 45px;
      padding: -1px 5px 5px 5px;
      background: $light-blue;
    }
  }
  .header-bar {
    .name {
      display: block;
      text-align: right;
      padding-right: 10px;
    }
  }

  :not(.adapters) :not(.adpater_plugs) {
    // my flex-box table
    .row {
      display: flex;
      flex-flow: row;
      flex: 1;
      border-bottom: 0;
    }
    .label, .no-label {
      display: none;
      min-height: 2em;
      max-height: 2em;
    }
    .flex-table .row:first-child .pair {
      .label {
        display: flex;
      }
      .no-label {
        display: flex;
        flex: 1;
        border-top: 1px solid white;
        border-left: 1px solid white;
        padding: 3px;
        background: lightblue;
      }
    }
    .pair {
      display: flex;
      flex-flow: column;
      flex: 1;
    }
    // end flex-box table
  }

  .flex-main {
    flex-flow: row wrap;
  }

  #map {
    margin-top: .3em;
    height: 80vh;
    width: 45vw;
  }
  #search {
    min-width: 25em;
  }

  #station {
    .flex-table {
      margin: 0 auto;
      max-width: 35em;
      .label {
        min-width: 6.8em;
      }
      .data {
        min-width: 6.8em;
      }
      .buttons {
        min-width: 5em;
      }
    }
  }

  .charge_stations {
    .flex-table {
      max-width: 50em;
    }
  }

  .bookings {
    .flex-table {
      max-width: 60em;
    }
  }
}
