<div class="charge_stations">

  <%= render 'form', charge_station: @charge_station %>

  <%= link_to 'Show', @charge_station, class: 'btn btn-success' %>
  <%= link_to 'Back', charge_stations_path, class: 'btn btn-success' %>
</div>