<div class="adapters">
  <h5>Editing Adapter</h5>

  <%= render 'form', adapter: @adapter %>

  <%= link_to 'Show', @adapter, class: 'btn btn-success' %>
<%= link_to 'Back', adapters_path, class: 'btn btn-success' %>
</div>